<div class="displaycreature">
    <img class="displaycreatureimage" src="{{creature.image_url}}">
    <div class="displaycreaturedetails">
    <h1>{{creature.name}}</h1>
    <ul>
        <li>Creatures Name: {{creature.name}}</li>   
        <li>Creatures Aligment: {{creature.aligment}} </li>  
        <li>Creatures Size: {{creature.size}} </li> 
        <li>Creature Type: {{creature.type}}</li>
    </ul>
    </div>
    <div class="displaycreaturestats">
    <ul>
        <li>AC:{{creature.ac}}</li>
        <li>HP:{{creature.hp}}</li>
        <br>
        <li>STR: {{creature.str}}</li>
        <li>DEX: {{creature.dex}}</li>
        <li>CON: {{creature.con}}</li>
        <li>INT: {{creature.int}}</li>
        <li>WIS: {{creature.wis}}</li>
        <li>CHA: {{creature.cha}}</li>
    </ul>
    </div>
</div>
