<div class="displaycreature">
    <img src="{{creature.image_url}}"
    <ul>
        <li>Creatures Name: {{creature.name}}</li>   
        <li>Creatures Aligment: {{creature.aligment}} </li>  
        <li>Creatures Size: {{creature.size}} </li> 
        <li>Creature Type: {{creature.type}}</li>
    </ul>
    <div class="displaycreaturestats">
    <ul>
        <li>ac:{{creature.ac}}</li>
        <li>hp:{{creature.hp}}</li>
        <br>
        <li>str: {{creature.str}}</li>
        <li>dex: {{creature.dex}}</li>
        <li>con: {{creature.con}}</li>
        <li>int: {{creature.int}}</li>
        <li>wis: {{creature.wis}}</li>
        <li>cha: {{creature.cha}}</li>
    </ul>
    </div>
</div>

